:root {
    --background: #353535;
    --font-color: #fff;
    --blue-color: #284B63;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--background);
}